In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv(r'data/insurance.csv')
df=train.copy()
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
df.shape

(1338, 7)

In [4]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df['sex'].value_counts()

sex
male      676
female    662
Name: count, dtype: int64

In [6]:
df.replace({'sex':{'male':0,'female':1}},inplace=True)
df.replace({'smoker':{'yes':0,'no':1}},inplace=True)
df.replace({'region':{'southeast':0,'southwest':1,'northeast':2,'northwest':3}},inplace=True)

df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       0       1  16884.92400
1   18    0  33.770         1       1       0   1725.55230
2   28    0  33.000         3       1       0   4449.46200
3   33    0  22.705         0       1       3  21984.47061
4   32    0  28.880         0       1       3   3866.85520

In [7]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [8]:
x = df.drop(['charges'],axis=1)
y = df['charges']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [11]:
y_pred= lr.predict(x_test)
accuracy= metrics.r2_score(y_test,y_pred)
print(accuracy)

0.7989875396812891

In [12]:
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import scale

sgd = SGDRegressor(max_iter=2000,tol=1e-5,eta0=0.02)

Xs = scale(x)
Ys = scale(y)

x_train,x_test,y_train,y_test = train_test_split(Xs,Ys,test_size=0.2,random_state=0)

sgd.fit(x_train,y_train)
y_pred=sgd.predict(x_test)
accuracy = metrics.r2_score(y_test,y_pred)
print(accuracy)

0.7999571506233096