In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv(r'data/studentsPerformance.csv')
df=train.copy()
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
df.shape

(1000, 8)

In [4]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [22]:
df.replace({'gender':{'male':0,'female':1}},inplace=True)
df.replace({'race/ethnicity':{'group A':0,'group B':1,'group C':2,'group D':3,'group E':4}},inplace=True)
df.replace({'test preparation course':{'none':0,'completed':1}},inplace=True)
df.replace({'lunch':{'standard':0,'free/reduced':1}},inplace=True)
df.replace({'parental level of education': {"bachelor's degree": 0, 'some college': 1, "master's degree": 2, "associate's degree": 3,"high school":4}}, inplace=True)

df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,1,1,0,0,0,72,72,74
1,1,2,1,0,1,69,90,88
2,1,1,2,0,0,90,95,93
3,0,0,3,1,0,47,57,44
4,0,2,1,0,0,76,78,75